var phoneSecret=function(e){if(e){var n=getRegExp("(d{3})d{4}(d{4})","g");e=(e+"").replace(n,"$1****$2")}return e},handleStringWhitSpace=function(e){var n=e;if(e){var t=getRegExp("(.{4})","g");n=(e+"").replace(t,"$1 ")}return n},handleDateToChinese=function(e){var n=getRegExp("(d{4}).(d{1,2}).(d{1,2})","g"),t=(e||"").replace(n,"$1年$2月$3");return console.log(t),t};module.exports={phoneSecret:phoneSecret,handleStringWhitSpace:handleStringWhitSpace,handleDateToChinese:handleDateToChinese};