

.pop-cotent{
  position: fixed;
  bottom: 0;
  height: 750rpx;
  background-color: aqua;
  width: 100vw;
  left: 0;
  transition-timing-function: ease;
  animation: ease both;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.3s;

}

.via-bottom-enter,
.via-bottom-leave-to {
  transform: translate3d(0, 100%, 0);
}