@import "../style/base.scss";

.cotent-picker {
  position: relative;
  display: flex;
  height: 750rpx;
  width: 100vw;
  display: flex;
  flex-direction: column;
  border-radius: 20rpx 20rpx;
  background-color: #fff;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60rpx;

    .title {
      font-size: 30rpx;
      color: #999999;
    }

    .curent {
      font-size: 36rpx;
      color: var(--theme-color,$theme-color);
      margin-top: 10rpx;
    }

    .line {
      margin-top: 8rpx;
      width: 60rpx;
      height: 6rpx;
      border-radius: 6rpx;
      background-color: var(--theme-color,$theme-color);
    }
  }

  .date-picker-view{
    display: flex;
    margin-top: 20rpx;
    height: 480rpx;
  }

}