# dependencies  npm包文件
/node_modules

# production  打包文件
/build
#docops
/docops/node_modules
/docops/docs/.vuepress/dist
# misc 
.DS_Store
/components/.DS_Store
#devops
/devops/miniprogram_npm
/devops/node_modules
/devops/dist

npm-debug.log*