// 默认主题色
$theme-color:#0a1d66;
//border-color
$border-color: #f4f4f4;

// 遮罩背景
$mask-bg: rgba(0, 0, 0, 0.5);

$font-size:28rpx;
$font-black-color:#323232;
$font-grey-color:#999999;



// 导航层级
$z-index-navigation: 9;
// mask 层级
$z-index-mask: 10;
// toast 层级
$z-index-toast: 100;

