// 默认主题色
$them-color:#0a1d66 !default;
//border-color
$border-color: #f4f4f4 !default;

// 遮罩背景
$mask-bg: rgba(0, 0, 0, 0.5) !default;

$font-size:28rpx !default;
$font-black-color:#323232 !default;
$font-grey-color:#999999 !default;



// 导航层级
$z-index-navigation: 9;
// mask 层级
$z-index-mask: 10;

