
@import '../style/base.scss';

.item-box {
  width: 100vw;
  height: 100%;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  line-height: 1;
  font-size: 28rpx;
  color: #323232;
 

  .num {
    font-size: 30rpx;
  }

  .cell {
    font-size: 28rpx;
    color: #999999;
  }
}

.forbidden{
  opacity: 0.5;
}

.btn-bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  background: #F6F6F6;
  border-top: 2rpx solid #D9D9D9;
  .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100rpx;
    font-size: 32rpx;
    color: #323232;
    flex: 1;
    background: #F6F6F6;
    padding-bottom: 20rpx;
  }

  .line {
    width: 2rpx;
    height: 122rpx;
    background: #D9D9D9;
  }

  .activ {
    color: $them-color;
  }
}