
.via-loading {
  height: 40rpx;
  width: 40rpx;
  border-radius: 50%;
  border:2px solid #cccccc;
  animation: rotate 0.6s linear infinite;
  transform: scale(0.5);
}
@keyframes rotate {
  0% {
    transform: rotate(0);
    transform-origin: center;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}


.indicator {
display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.dot {
  display: inline-block;
  width: 12rpx;
  height: 12rpx;
  margin: 0 6rpx;
  background-color: #ccc;
  border-radius: 50%;
  vertical-align: middle;
}



@keyframes dotsloading-black {
  0% {
    background-color: #ccc;
  }

  50% {
    background-color: #fff;
  }

  51% {
    background-color: #ccc;
  }

  100% {
    background-color: #ccc; 
  }
}

@keyframes dotsloading-white {
  0% {
    background-color: #ccc;
  }

  50% {
    background-color: #fff;
  }

  51% {
    background-color: #ccc;
  }

  100% {
    background-color: #ccc;
  }
}