

.ball-box {
    position: fixed;
    z-index: 9999999;
    /* 水平移动，线性匀速 */
    transition: all 0.4s linear;
    opacity:0;
    .ball {
        /* 垂直移动， 
         * 贝塞尔曲线
         * https://cubic-bezier.com/#0,-0.54,1,.3
        */
        transition: all 0.4s cubic-bezier(0,-0.54,1,.3);
    
    }
}


